body {
  background-color: rgb(25, 25, 25);
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Baloo 2", sans-serif;
}

header {
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
}

header img {
  position: relative;
  height: 150px;
}

.title {
  text-align: center;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  width: 20%;
  padding: 10px;
  border-bottom: 2px solid aliceblue;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

.content {
  display: flex;
  flex-direction: row;
}

.menu {
  width: 25%;
  border-right: 2px solid aliceblue;
  display: flex;
  flex-direction: column;
  z-index: 98;
}

.haut {
  text-align: center;
  border-bottom: 2px solid aliceblue;
  width: 100%;
}

.bas {
  text-align: center;
  width: 100%;
}

.bas ul {
  padding-left: 0px;
  list-style-type: none;
}

.bas li {
  border-bottom: 2px dotted aliceblue;
}

.liCard {
  border-top: 2px dotted aliceblue;
}

.bas a {
  text-decoration: none;
  color: aliceblue;
}

.bas a:hover {
  color: orange;
}

article {
  width: 75%;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.mainLogo {
  width: 25%;
}

footer {
  width: 100%;
  height: 30%;
  border-top: 2px solid aliceblue;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: orange;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
td,
th {
  border: 2px solid aliceblue;
}

td {
  padding: 10px;
  width: 16%;
}

article img {
  width: 100%;
}

.caseIMat {
  width: 20%;
}

.caseICard {
  width: 15%;
}

.stock {
  display: none;
}

button {
  background-color: orange;
  width: 10%;
  height: 3%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.quantAjout {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.quantAjout button {
  transform: translate(-4%, 0);
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.quantPanier {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quantPanier button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  transform: translate(-1%, 0);
}

.logoJoli {
  display: flex;
  align-items: center;
}

.aggrand {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.aggrand button {
  transform: translate(-5%, 0);
}

.form {
  width: 100%;
  max-width: 450px;
  margin: 1% auto;
}

input[type="text"],
input[type="date"],
select,
textarea,
#labNais {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
  resize: vertical;
}

input[type="submit"] {
  background-color: orange;
  width: 50%;
  height: 40px;
  border-radius: 4px;
}
